body{
    background-color: yellow;
}
.main{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cards{
    display:flex;
    flex-direction: row;
    border: 1px solid black;
    height: 300px;
    
    
}
.angular,.react,.vue{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    height: 300px;
    width: 200px;
    background-color: white;
    
}
img{
    width: 100px;
}
p{
    text-align: center;
}